html {
    margin: 0;
    padding: 0;

}

body {
    font-family: helvetica;
    font-size: 15pt;
    background-color: #ffffff;
    padding: 10px 20px;
}

header {
    background-color: #ffffff;
    margin-bottom: 40px;
    height: 50px;
    padding: 8px;
    align-items: center;
    vertical-align: bottom;
}

main {
    vertical-align: top;
    padding: 0 100px;
}

#menulogo{
    margin-bottom: 7px;
}

/* .icon {
    float: right;
    right: 0;
} */

.photo {
    border-radius: 50%;
}

.vtitle {
    font-weight: 400;
    line-height: 16px;
    font-family: inherit;
}

aside{
      width: inherit;
      float: left;
      display: block;
      margin: 50px;
      left: 0;
      top: 0;
      border-bottom: 1px solid;

}

.yvideo{
    float: left;
    width: 65%;
    clear: both;
}

.sidemenu {
    width: 35%;
    display: block;
    float: right;
    margin-top: -20px;
}

.header>#sideicons {
    float: right;
    right: 0;
}

div#searchbar {
    display: inline;
}

input {
    height: 30px;
    width: 350px;
}



sidemenu{
        float: right;
        display: block;
        padding-bottom: 5px;
        margin-bottom: 10px;
}
