html {
    margin: 0;
    padding: 0;

}

body {
    font-family: helvetica;
    font-size: 15pt;
    background-color: #ffffff;
    padding: 10px 20px;
}

header {
    background-color: #ffffff;
    margin-bottom: 40px;

    padding: 8px;
    align-items: center;
    vertical-align: bottom;
}

main {
    vertical-align: top;
    padding: 0 100px;
}

#menulogo{

}

#searchbar{
    margin-bottom: 7px;
}

/* .icon {
    float: right;
    right: 0;
} */

.photo {
    border-radius: 50%;
}

.vtitle {
    font-weight: 400;
    line-height: 16px;
    font-family: inherit;
}


.yvideo{
    float: left;
    width: 65%;
    clear: both;
}

#out, #sub, #co{
  float: left;
  width: 65%;
  clear: both;
}

.sidemenu {
    width: 35%;
    display: block;
    float: right;
    margin-top: -20px;
}

.header>#sideicons {
    float: right;
    right: 0;
}

div#searchbar {
    display: inline;
}

input {
    height: 30px;
    width: 350px;
}



sidemenu{
        float: right;
        display: block;
        padding-bottom: 5px;
        margin-bottom: 10px;
}

#out {
    height:20px;
    width:30px;
    background-color:red;
    border-radius:5px;
}

#play {
    position:relative;
    height:0px;
    width:0px;
    border-left:solid 10px #fff;
    border-top:solid 7px transparent;
    border-right:solid 7px transparent;
    border-bottom:solid 7px transparent;
    top:15%;
    left:38%;
}

#sub {
    background-color:red;
    color:#fff;
    outline: #000;
    width: auto;
    border:solid 1px transparent;
    font-size:20px;
}

#sub:hover  {
    outline:none;
}

#co {
    color:#000;
    font-size:15px;
    display: inline;
}

.thumbnail {
    width: 100px;
    height: 90px;
}

ul {
    list-style: none;
}

